:root {
    --dark-grey: #302d40;
    --grey: #72757e;
    --light-grey: #8d8f9c;
    --light-pink: #f6bfba;
    --dark-pink: #ed9a8c;
    --orange: #ff461a;
    --dark-orange: #e33b17;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 10px;
}

.draw {
    width: 40em;
    height: 40em;
    position: relative;
    display: flex;
    justify-content: center;
}

.picture {
    width: 100%;
    position: absolute;
    /* z-index: 1; */
    filter: opacity(0.4);
}

/* max width of the draw: 296px or 29.6em */

.helmet {
    width: 13.9em;
    height: 14em;
    position: absolute;
    background-image: linear-gradient(
        to bottom,
        var(--dark-grey) 0% 50%,
        transparent 50% 100%
    );
    top: 3.4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.helmet::before {
    content: '';
    position: absolute;
    border-bottom: 1em solid var(--grey);
    border-left: 3.5em solid transparent;
    border-right: 3.5em solid transparent;
    top: -0.6em;
}

.helmet::after {
    content: '';
    position: absolute;
    border-top: 3.5em solid var(--grey);
    border-left: 3.5em solid transparent;
    border-right: 3.5em solid transparent;
    top: 0.4em;
}

.left-horn {
    width: 11.5em;
    height: 13.5em;
    position: relative;
    background-color: #faa;
    transform: translate(-8.3em, 3.5em) rotate(30deg);
    border-radius: 50%;
    /* box-shadow: inset -2.2em 3em 0 0 #faa; */
}
