:root {
    --dark-grey: #302d40;
    --grey: #72757e;
    --light-grey: #8d8f9c;
    --light-pink: #f6bfba;
    --dark-pink: #ed9a8c;
    --orange: #ff461a;
    --dark-orange: #e33b17;
}

*::before,
*::after {
    content: '';
    position: absolute;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 20px;
}

.draw {
    width: 40em;
    height: 40em;
    position: relative;
    display: flex;
    justify-content: center;
}

.picture {
    width: 100%;
    position: absolute;
}

/* max width of the draw: 296px or 29.6em */

/* PARTE CENTRAL DEL CASCO */

.helmet {
    width: 13.9em;
    height: 14em;
    position: absolute;
    background-image: linear-gradient(
        to bottom,
        var(--dark-grey) 0% 50%,
        transparent 50% 100%
    );
    top: 3.4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.helmet::before {
    border-bottom: 1em solid var(--grey);
    border-left: 3.5em solid transparent;
    border-right: 3.5em solid transparent;
    top: -0.6em;
}

.helmet::after {
    border-top: 3.5em solid var(--grey);
    border-left: 3.5em solid transparent;
    border-right: 3.5em solid transparent;
    top: 0.4em;
}

/* CUERNO IZQUIERDO Y DERECHO DEL CASCO */

.left-horn,
.right-horn {
    width: 14.5em;
    height: 11em;
    position: absolute;
    border-radius: 50% 50% 93% 7% / 70% 50% 50% 30%;
    box-shadow: inset 0.55em 3.95em 0 0 var(--grey);
}

.left-horn {
    transform: translate(-7em, 2.7em) rotate(10deg);
}

.right-horn {
    transform: translate(7em, 2.7em) rotateY(180deg) rotate(10deg);
}

.left-horn::before,
.right-horn::before {
    width: 14em;
    height: 8.9em;
    border-radius: 50% 50% 97% 3% / 70% 50% 50% 30%;
    transform: translate(0.7em, 1em);
    box-shadow: inset 0.08em 2.7em 0 0 var(--light-grey);
}

.left-horn::after,
.right-horn::after {
    width: 4em;
    height: 2em;
    background-color: var(--grey);
    transform: translate(7.15em, 1.6em) rotate(-70deg);
}

/* BASE DEL CASCO */

.helmet-base {
    position: absolute;
    border-bottom: 1.05em solid var(--grey);
    top: 10.39em;
}

.helmet-base,
.helmet-base::before {
    width: 13.9em;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
}

.helmet-base::before {
    border-top: 1.05em solid var(--grey);
    top: 1.05em;
    left: -1em;
}

.helmet-base::after {
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: var(--light-grey);
    top: 0.67em;
    left: 0.86em;
    box-shadow: 2.3em 0 0 0 var(--light-grey), 4.6em 0 0 0 var(--light-grey),
        6.9em 0 0 0 var(--light-grey), 9.3em 0 0 0 var(--light-grey),
        11.5em 0 0 0 var(--light-grey);
}

/* CABEZA, OREJAS Y OJOS */

.head {
    width: 2em;
    height: 2em;
    position: absolute;
    background-color: var(--light-pink);
    border-radius: 50%;
    transform: translate(-7em, 13.1em);
    box-shadow: 14em 0 0 0 var(--light-pink);
}

.head::before {
    width: 13.9em;
    height: 10em;
    background-color: var(--light-pink);
    transform: translate(1.05em, -0.65em);
}

.head::after {
    width: 4.6em;
    height: 4.6em;
    background-color: var(--dark-pink);
    border-radius: 50%;
    transform: translate(2.58em, -4.45em);
    box-shadow: 6.23em 0 0 0 var(--dark-pink);
}

/* NARIZ */

.nose {
    width: 2.45em;
    position: absolute;
    top: 11.4em;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-bottom: 5.05em solid var(--dark-pink);
}

.nose::before {
    transform: translate(-0.3em, 5.05em);
    border-top: 0.88em solid var(--dark-pink);
    border-left: 1.53em solid transparent;
    border-right: 1.53em solid transparent;
}

/* BOCA */

.mouth {
    width: 3.3em;
    height: 1.2em;
    position: absolute;
    top: 17.75em;
    background-color: var(--dark-pink);
    border-radius: 50%;
}
